In [1]:
import pandas as pd 
import numpy as np

In [25]:
# Lectura del archivo
df_pat = pd.read_csv('Presi_n_Atmosf_rica_2021.csv', index_col = 0)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)
df_pat.head()

,CodigoEstacion,CodigoSensor,FechaObservacion,ValorObservado,NombreEstacion,Departamento,Municipio,ZonaHidrografica,Latitud,Longitud,DescripcionSensor,UnidadMedida,Año
14350546,48015040,255.0,01/01/2021 07:31:00 AM,1001.0,PTO NARIÑO,AMAZONAS,PUERTO NARIÑO,AMAZONAS - DIRECTOS,-3.780000,-70.363000,Presión Atmosferica (1h),HPa,2021
14350547,24010390,255.0,01/01/2021 07:00:00 PM,726.0,El TRIANGULO - CAR,CUNDINAMARCA,LENGUAZAQUE,SOGAMOSO,5.305000,-73.619000,Presión Atmosferica (1h),HPa,2021
14350548,24055080,255.0,01/01/2021 01:00:00 PM,998.6,VIZCAINA LA LIZAMA - AUT,SANTANDER,BARRANCABERMEJA,SOGAMOSO,6.982972,-73.704889,Presión Atmosferica (1h),HPa,2021
14350549,24015506,255.0,01/01/2021 08:00:00 AM,754.0,CAPELLANIA - CAR,CUNDINAMARCA,FÚQUENE,SOGAMOSO,5.449000,-73.769000,Presión Atmosferica (1h),HPa,2021
14350550,48015040,255.0,01/01/2021 07:48:00 AM,1000.9,PTO NARIÑO,AMAZONAS,PUERTO NARIÑO,AMAZONAS - DIRECTOS,-3.780000,-70.363000,Presión Atmosferica (1h),HPa,2021

In [3]:
df_pat.shape

(403439, 13)

## Revision de los valores de cada columnas

In [4]:
df_pat.columns

Index(['CodigoEstacion', 'CodigoSensor', 'FechaObservacion', 'ValorObservado',
       'NombreEstacion', 'Departamento', 'Municipio', 'ZonaHidrografica',
       'Latitud', 'Longitud', 'DescripcionSensor', 'UnidadMedida', 'Año'],
      dtype='object')

## Transformamos la columna FechaObservacion a tipo fecha

In [9]:
# Cogemos la columna donde esta la fecha, usamos pandas para usar la funcion de transformacion de fecha y le damos formato
df_pat['FechaObservacion'] = pd.to_datetime(df_pat['FechaObservacion'], format='%d/%m/%Y %I:%M:%S %p', errors='coerce')
# Ahora le inciadmos un subconjunto con que trabajeremos y me diga si hay valores NaN y al final hacemos el cambio al dataframe
df_pat.dropna(subset=['FechaObservacion'], inplace=True)

## Creamos una nueva columna que almacenara los meses

In [11]:
# Extraer el mes de cada fecha y almacenarlo en una nueva columna "Mes"
df_pat['Mes'] = df_pat['FechaObservacion'].dt.month

In [12]:
df_pat.head()

,CodigoEstacion,CodigoSensor,FechaObservacion,ValorObservado,NombreEstacion,Departamento,Municipio,ZonaHidrografica,Latitud,Longitud,DescripcionSensor,UnidadMedida,Año,Mes
14350546,48015040,255.0,2021-01-01 07:31:00,1001.0,PTO NARIÑO,AMAZONAS,PUERTO NARIÑO,AMAZONAS - DIRECTOS,-3.780000,-70.363000,Presión Atmosferica (1h),HPa,2021,1
14350547,24010390,255.0,2021-01-01 19:00:00,726.0,El TRIANGULO - CAR,CUNDINAMARCA,LENGUAZAQUE,SOGAMOSO,5.305000,-73.619000,Presión Atmosferica (1h),HPa,2021,1
14350548,24055080,255.0,2021-01-01 13:00:00,998.6,VIZCAINA LA LIZAMA - AUT,SANTANDER,BARRANCABERMEJA,SOGAMOSO,6.982972,-73.704889,Presión Atmosferica (1h),HPa,2021,1
14350549,24015506,255.0,2021-01-01 08:00:00,754.0,CAPELLANIA - CAR,CUNDINAMARCA,FÚQUENE,SOGAMOSO,5.449000,-73.769000,Presión Atmosferica (1h),HPa,2021,1
14350550,48015040,255.0,2021-01-01 07:48:00,1000.9,PTO NARIÑO,AMAZONAS,PUERTO NARIÑO,AMAZONAS - DIRECTOS,-3.780000,-70.363000,Presión Atmosferica (1h),HPa,2021,1

## Ahora revisamos las columnas para byscar valores identicos y NaN

In [13]:
df_pat.columns

Index(['CodigoEstacion', 'CodigoSensor', 'FechaObservacion', 'ValorObservado',
       'NombreEstacion', 'Departamento', 'Municipio', 'ZonaHidrografica',
       'Latitud', 'Longitud', 'DescripcionSensor', 'UnidadMedida', 'Año',
       'Mes'],
      dtype='object')

### Departamento

In [15]:
# Columna Departamento
df_pat.Departamento.value_counts()

AMAZONAS                  42146
CUNDINAMARCA              35130
BOYACÁ                    11175
SANTANDER                  9948
BOGOTA                     8364
BOLIVAR                    3194
NORTE DE SANTANDER         2546
TOLIMA                     2360
CASANARE                   2320
CHOCÓ                      2259
VALLE DEL CAUCA            2256
CALDAS                     2083
ARAUCA                     2039
HUILA                      1955
SUCRE                      1884
ANTIOQUIA                  1810
MAGDALENA                  1744
META                       1670
RISARALDA                  1650
LA GUAJIRA                 1338
CORDOBA                    1305
CÓRDOBA                    1276
ATLANTICO                   746
CESAR                       740
CHOCO                       730
CAQUETA                     646
QUINDÍO                     576
BOGOTA D.C.                 557
NARIÑO                      556
SAN ANDRÉS PROVIDENCIA      388
NARINO                      325
CAUCA                       240
ATLÁNTICO                    34
Name: Departamento, dtype: int64

Podemos observar que cuando accedemos a la informacion de la Columna Departamento, nos salen algunos valores "repetidos" o "similares" como en el Caso de BOGOTA y BOGOTA D.C, y entre otros más, debemos hacer que esos espacios dobles que ocupa el dataframe se reduzcan a 1 con cada nombre que es "similar" y ya que esos valores pertencen al mismo ligar

In [16]:
# Creacion de diccionario para reemplazar valores
# Las llaves de los diccionarios seran los valores que vamos a quitar y los valores seran los que se quedaran
reemplazos = {
    'BOGOTA': 'BOGOTA D.C.',
    'CHOCO': 'CHOCÓ',
    'CORDOBA': 'CÓRDOBA',
    'ATLANTICO': 'ATLÁNTICO',
    'NARINO' : 'NARIÑO'
}

In [17]:
# Entramos a la columna del dataframe e indicamos los valores a reemplazar mediante la funcion replace
df_pat['Departamento'] = df_pat['Departamento'].replace(reemplazos)

In [18]:
df_pat.Departamento.value_counts()

AMAZONAS                  42146
CUNDINAMARCA              35130
BOYACÁ                    11175
SANTANDER                  9948
BOGOTA D.C.                8921
BOLIVAR                    3194
CHOCÓ                      2989
CÓRDOBA                    2581
NORTE DE SANTANDER         2546
TOLIMA                     2360
CASANARE                   2320
VALLE DEL CAUCA            2256
CALDAS                     2083
ARAUCA                     2039
HUILA                      1955
SUCRE                      1884
ANTIOQUIA                  1810
MAGDALENA                  1744
META                       1670
RISARALDA                  1650
LA GUAJIRA                 1338
NARIÑO                      881
ATLÁNTICO                   780
CESAR                       740
CAQUETA                     646
QUINDÍO                     576
SAN ANDRÉS PROVIDENCIA      388
CAUCA                       240
Name: Departamento, dtype: int64

In [19]:
# Verificacion si existe o no e departamento dentro de la columna
valores_atlantico = df_pat[df_pat['Departamento'] == 'ATLANTICO']
valores_atlantico

Empty DataFrame
Columns: [CodigoEstacion, CodigoSensor, FechaObservacion, ValorObservado, NombreEstacion, Departamento, Municipio, ZonaHidrografica, Latitud, Longitud, DescripcionSensor, UnidadMedida, Año, Mes]
Index: []

### NomvreEstacion

In [5]:
df_pat.NombreEstacion.value_counts().sum()

403439

In [7]:
df_pat.NombreEstacion.unique()

array(['PTO NARIÑO', 'El TRIANGULO - CAR', 'VIZCAINA LA LIZAMA  - AUT',
       'CAPELLANIA - CAR', 'SINCERIN  - AUT', 'RAQUIRA - CAR',
       'APTO OLAYA HERRERA - TX GPRS', 'CACHIPAY - CAR', 'AYAPEL',
       'PR CHOCO: APTO EL CARANO', 'BERLIN - AUT',
       'CHARALA - ISAGEN - Estacion en Pruebas', 'PARAMO GUERRERO  - AUT',
       'CARIMAGUA', 'AEROPUERTO LAS FLORES  - AUT',
       'APTO EL DORADO - TX GPRS', 'PERENCO: TAMARA',
       'ESCUELA NAVAL BARRANQUILLA  - AUT',
       'APTO ERNESTO CORTIZOS TX GPRS', 'VIANI - CAR', 'NEOMUNDO - AUT',
       'CARDON EL', 'PR CHOCO: CERTEGUI', 'EL HATO - CAR', 'EL TUNEL',
       'PARAMO ALMORZADERO  - AUT', 'PUERTA ROJA - AUT',
       'APTO SESQUICENTENARIO TX GPRS', 'PERENCO: TOQUILLA',
       'APTO MATECAÑA TX GPS/GOES', 'APTO ALMIRANTE PADILLA TX GPRS',
       'EL GUAMO - AUT', 'SAN MARCOS - AUT', 'AEROPUERTO SAN LUIS - AUT',
       'SAN  VICENTE DE CHUCURI  - AUT', 'PR CHOCO: BELLAVISTA',
       'GUAMAL - CAR', 'SAN BENITO ABAD - LA MOJANA TX GPRS/GOES',
       'LA MINA CERREJON  - AUT', 'APTO ALFONSO LOPEZ', 'PERENCO: PISBA',
       'APTO CAMILO DAZA', 'LAGUNA DE LA PLAZA', 'AGUAS CLARAS - CAR',
       'CAPARRAPI - CAR', 'APTO J.M CORDOVA TX GPRS',
       'AEROPUERTO VASQUEZ COBO', 'EL DIAMANTE - AUT',
       'APTO ALFONSO BONILLA ARAGON - TX GPRS', 'APTO PALONEGRO',
       'GRANJA MIRA', 'AEROPUERTO RAFAEL NUNEZ', 'TUNGUAVITA - AUT',
       'APTO LOS GARZONES', 'PR CHOCO: PANAMERICANA', 'MEDIA LUNA - AUT',
       'PTAR TOCANCIPA - CAR', 'EL DELIRIO- CAR',
       'PR CHOCO: SAN JOSE PALMAR', 'APTO YOPAL', 'EL DIFICIL - AUT',
       'AEROPUERTO A LLERAS C', 'AGUACHICA - AUT', 'VIVERO SURATA  - AUT',
       'SARAVENA  - AUT', 'MEDINA - AUT', 'LEJANÍAS - AUT',
       'DEMOSTRACION GRANJA  - AUT', 'MALAGA 2',
       'UNIVERSIDAD DE LA SABANA - AUT', 'MERCEDES - AUT',
       'AEROPUERTO FURATENA  - AUT', 'VETAS - AUT',
       'UNIVERSIDAD UNAD CARTAGENA - AUT', 'GALERAZAMBA  - AUT',
       'PIEDECUESTA GRANJA', 'ITUANGO - AUT', 'SABANA DE TORRES',
       'VILLA DE LEIVA  - AUT', 'EL PARAMO - AUT', 'PLANETA RICA  - AUT',
       'PLANADAS - AUT', 'TUNJA-U.P.T.C - AUT', 'ITA VALSALICE  - AUT',
       'SIACHOQUE - AUT', 'VILLA INES  - AUT', 'IBAGUE - AUT', 'ACAPULCO',
       'YACOPI  - AUT', 'JARDIN BOTANICO  - AUT', 'SOTAQUIRÁ - AUT',
       'SUSA - AUT', 'GUADUALITO - AUT', 'ALGECIRAS - AUT',
       'SAHAGUN - AUT', 'MAGUARE - AUT', 'PARAMO ALTO - AUT',
       'UNIVERSIDAD DEL PACIFICO - AUT', 'ARAUCA TERMINAL - AUT',
       'CAMPO HERMOSO - AUT', 'POTREROS - AUT', 'GUAICARAMO  - AUT',
       'CANELOS  - AUT', 'NATAGA  - AUT', 'LAS BRISAS - AUT',
       'POLIDEPORTIVO CACHIRA - AUT', 'ALTO DEL TRIGO - AUT',
       'PARQUE ARQUEOLOGICO - AUT', 'ARBOLEDAS - AUT', 'BRASIL - AUT',
       'EL CALVARIO - AUT', 'FLORIDABLANCA - AUT', 'CACHIRI  - AUT',
       'VISTA HERMOSA - AUT', 'GRANADA SENA - AUT', 'ALTAQUER - AUT',
       'CORRALITOS PULI', 'SANTA HELENA  - AUT',
       'HACIENDA LA MESA  - AUT', 'UNIVERSIDAD SANTO TOMÁS  - AUT',
       'CUCUNUBA - AUT', 'TABIO  - AUT', 'ACOMODO EL', 'EL SOCHE  - AUT',
       'EL DESTINO  - AUT', 'LA ESMERALDA-  - AUT', 'EL OKAL  - AUT',
       'IBERIA LA', 'MAJAGUAL', 'LA CUMBRE - AUT',
       'BASE AEREA MELGAR - AUT', 'EL ESPINO - AUT', 'SALITRE  - AUT',
       'MACHETA - CHIVOR', 'PAQUILO - AUT', 'RETIRO - AUT',
       'EL VINCULO - AUT', 'NEVADO DEL COCUY - AUT',
       'UNIVERSIDAD DE CUNDINAMARCA - AUT', 'VUELTA MALA', 'PASCA - AUT',
       'TIBAITATA - AUT', 'SOGAMOSO - AUT', 'AQUITANIA - AUT',
       'ZARAGOZA - AUT', 'VALLE ALTO  - AUT', 'SANTA EMILIA - AUT',
       'PARAMO RABANAL - AUT', 'BELLAVISTA - JESUS MARIA - AUT',
       'IDEAM BOGOTA  - AUT', 'EL JARDIN CUENCA ALTA RIO RISARALDA - AUT',
       'CHINAVITA - AUT', 'SALENTO - AUT', 'SANTUARIO - AUT',
       'UNIVERSIDAD NACIONAL  - AUT', 'LA RAMADA  - AUT', 'PIJAO - AUT',
       'PARQUE SOPO  - AUT', 'SONSON', 'MERENGO  - AUT', 'TONA  - AUT',
       'LA COSECHA - AUT', 'PUEBLO RICO  - AUT', 'TEATINOS - AUT',
       'CHITA  - AUT', 'DUITAMA - AUT', 'PESCA - AUT', 'PANELAS - AUT',
       'CORINTO - AUT', 'EL SILENCIO - AUT', 'GRANJA GUAYATA - AUT',
       'MONGUA - AUT', 'LA SIERRA - AUT', 'GUACHACA - AUT',
       'SANTA LUCIA - AUT', 'OJO DE AGUA  - AUT', 'PEDRO PALO  - AUT',
       'NEGRETE  - AUT', 'HERRERA - AUT', 'NEVADO DEL TOLIMA  - AUT',
       'GORGONA GUAPI', 'SAN FORTUNATO  - AUT', 'ALTO DEL AIRE  - AUT',
       'EL TABLAZO - AUT', 'FARALLONES - AUT', 'LA PALOMERA - AUT',
       'VILLA PINZON  - AUT', 'ICA VILLAVICENCIO  - AUT',
       'PNN PURACE - AUT', 'REMOLINO ALERTAS - EL VOLCAN - AUT',
       'TORIBIO ALERTAS   TORIBIO - AUT'], dtype=object)

In [ ]:
df_pat.loc[df_pat.NombreEstacion.duplicated()]

## Municipio

In [11]:
#filtro_letra = input('Coloque la letra inicial de los municipios a ver: ').upper()
# Filtrando con solo la 1ra letra del nombre de la columna
# df_pat[df_pat.Municipio.str.startswith(filtro_letra_inicial)].Municipio.value_counts().sort_values(ascending=True)

# Ahora con 2 o más letras iniciales
# df_pat[df_pat.Municipio.str.slice(stop=2) == filtro_letra].Municipio.value_counts().sort_values(ascending=True)

# Hice la filtracion mediante letras y palabras para que se me facilite la busqueda de nombre casi igaules 
filtra_palabra = input('Coloque la palabra relacional de los municipios a ver: ').upper()
df_pat[df_pat.Municipio.str.contains(filtra_palabra)].Municipio.value_counts().sort_values(ascending=True)

Coloque la palabra relacional de los municipios a ver: as

LEJANÍAS                342
BARBACOAS               389
CARCASÍ                1883
VETAS                  1885
GUADUAS                1888
ARBOLEDAS              1892
ALGECIRAS              1894
PLANADAS               2173
CARTAGENA DE INDIAS    3456
PASCA                  5135
Name: Municipio, dtype: int64

## ZonaHidrografica

In [20]:
# Todo bien
df_pat.ZonaHidrografica.value_counts()

AMAZONAS - DIRECTOS                 42146
ALTO MAGDALENA                      36717
MEDIO MAGDALENA                     14649
SOGAMOSO                            12789
META                                10168
CAUCA                                4436
BAJO MAGDALENA- CAUCA -SAN JORGE     3477
BAJO MAGDALENA                       2707
ARAUCA                               2696
ATRATO - DARIÉN                      1548
CARIBE - GUAJIRA                     1530
SALDAÑA                              1307
CESAR                                1279
CARIBE - LITORAL                     1276
CATATUMBO                            1252
SINÚ                                 1211
SAN JUÁN                              975
TAPAJE - DAGUA - DIRECTOS             934
GUAVIARE                              737
CASANARE                              729
PACÍFICO - DIRECTOS                   728
CAGUÁN                                646
NECHÍ                                 600
MIRA                                  487
PATÍA                                 394
ISLAS CARIBE                          388
VICHADA                               184
Name: ZonaHidrografica, dtype: int64

## Ahora en busqueda de valores NaN

In [27]:
df_pat.isna().sum()

CodigoEstacion       0
CodigoSensor         0
FechaObservacion     0
ValorObservado       0
NombreEstacion       0
Departamento         0
Municipio            0
ZonaHidrografica     0
Latitud              0
Longitud             0
DescripcionSensor    0
UnidadMedida         1
Año                  0
dtype: int64

Podemos observar que la unica columna del dataframe con valores NaN es UnidadMedida, y con solo 1 valor NaN.

In [28]:
# Aqui podemos ver que que el 99,9% de los valores de esa columna es HPa y un folojo se le olvido colocar ese valor.
df_pat['UnidadMedida'].value_counts()

HPa    403438
Name: UnidadMedida, dtype: int64

In [29]:
# Aqui hacemos el cambio de valor NaN, a HPa
df_pat['UnidadMedida'].fillna('HPa', inplace=True)

In [30]:
# Ahoro revisamos cuantos valores HPa hay y si, ahora hay un valor mas y esta completo
df_pat['UnidadMedida'].value_counts()

HPa    403439
Name: UnidadMedida, dtype: int64

In [31]:
# Volvemos a revisar si aun hay valores NaN dentro del dataframe
df_pat.isna().sum()

CodigoEstacion       0
CodigoSensor         0
FechaObservacion     0
ValorObservado       0
NombreEstacion       0
Departamento         0
Municipio            0
ZonaHidrografica     0
Latitud              0
Longitud             0
DescripcionSensor    0
UnidadMedida         0
Año                  0
dtype: int64

¡Wuala! Ya no hay valores null , además, ya el dataset esta notiene valores redundantes, asi que esta
limpio para trabajar.

In [32]:
# Guardamos el dataset actualizado y creamos uno csv nuevo.
df_pat.to_csv('Presion_atmoferica_limpio_2021.csv')